HistoryScreen {
    background: $bg_color;
    align: center middle;
}

#title {
    background: $bg_color;
    color: $primary_color;
    text-style: bold;
    width: 100%;
    height: auto;
    margin-bottom: 1;
    text-align: center;
}

#no-sessions-msg {
    background: $bg_color;
    color: $error;
    text-style: bold;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 1;
}

#session_list {
    background: transparent;
    border: none;
}

#session_list OptionList > .option-list--option {
    background: transparent;
    padding: 0 1;
}

#session_list OptionList > .option-list--option-highlighted {
    background: transparent;
}

#session_list OptionList > .option-list--option-hover {
    background: transparent;
}

#btn-row {
    layout: horizontal;
    align: center middle;
    height: auto;
    display: none;
}

#create_yes, #create_no {
    width: 14;
    height: 3;
    content-align: center middle;
    margin: 0 1;
    background: transparent;
}

#create_yes {
    border: round $primary_color;
    color: $primary_color;
}

#create_yes:hover {
    text-style: bold;
}

#create_no {
    border: round $text_light;
    color: $text_light;
}

#create_no:hover {
    text-style: bold;
}
